* {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(243,243,243);
}

.cells {
  margin: 20px auto;
  width: 300px;
  height: 300px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0, .05);
}

.cell {
  height: 100px;
  text-align: center;
  line-height: 100%;
}

.cell-mouseover {
  color: rgb(200,200,200);
}
